@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
}
img {
    border-radius: 50px;
    border: 2px solid white;
    width: 45px;
    height: 45px;
    transition: 0.5s;
}


.navigation {
    position: fixed;
    font-family: 'Poppins', sans-serif;
    width: 60px;
    height: 100%;
    background: #12192C;
    transition: 0.5s;
    overflow: hidden;
    text-align: center;
    z-index: 1;
}
.navigation:hover {
    width: 270px;
}
.navigation:hover img {
    width: 80px;
    height: 80px;
}
.nav-brand {
    margin-top: 20px;
    align-items: center;
    transition: 0.5s;
}
.navigation ul {
    position: relative;
    top: 50px;
    left: 0;
    width: 100%;
}
.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
}
.navigation ul li:hover {
    background: #0C5DF4;
}
.navigation ul li a {
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}
.navigation ul li a .span-icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.navigation ul li a .span-icon .icon {
    font-size: 24px;
    padding-top: 17px;
}
.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
.container-fluid.content {
    margin-top: 50px;
    margin-left: 60px;
    padding-left: 60px;
    padding-right: 60px;
    transition: 0.5s;
    width: 95%;
}
.sending-profiles, .landing-pages, .user-groups, .email-templates {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 500px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 6px 8px rgba(0, 0, 0, 0.07);
}
.completed-campaigns {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 500px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 6px 8px rgba(0, 0, 0, 0.07);
    margin-top: -20px;
}
.running-campaigns {
    position: relative;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 240px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 6px 8px rgba(0, 0, 0, 0.07);
    margin-top: -20px;
}
.scheduled-campaigns {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 240px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 6px 8px rgba(0, 0, 0, 0.07);
    margin-top: -20px;
}
.container-fluid.content .btn.add {
    font-family: 'Montserrat';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #fff;
    color: #0C5DF4;
}
.container-fluid.content .btn.add.campaign {
    font-family: 'Montserrat';
    position: relative;
    margin: 15px auto;
    width: 97.5%;
    background-color: #0C5DF4;
    color: #fff;
}
.container-fluid.content .btn.add:hover {
    color: #fff;
    background-color: #0C5DF4;
}
.user-groups .user-groups-table {
    display: block;
    height: 92.5%;
    width: 100%;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
}
.completed-campaigns .completed-campaigns-table, .running-campaigns .running-campaigns-table, .scheduled-campaigns .scheduled-campaigns-table  {
    display: block;
    height: 100%;
    width: 100%;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
}
.running-campaigns-table .no-data, .completed-campaigns-table .no-data, .scheduled-campaigns-table .no-data, .user-groups-table .no-data, .templates-table .no-data, .profiles-table .no-data, .pages-table .no-data {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.running-campaigns-table .no-data b, .completed-campaigns-table .no-data b, .scheduled-campaigns-table .no-data b, .user-groups-table .no-data b, .templates-table .no-data b, .profiles-table .no-data b, .pages-table .no-data b {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.landing-pages .pages-table, .email-templates .templates-table {
    padding: 15px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}
.sending-profiles .profiles-table {
    padding: 15px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}
.user-groups-table .user, .user-groups-table .user-input {
    display: flex;
    position: relative;
    width: 95%;
    height: 60px;
    text-align: left;
    margin: 10px auto;
}
.completed-campaigns-table .completed-campaign, .running-campaigns-table .running-campaign, .scheduled-campaigns-table .scheduled-campaign {
    display: flex;
    position: relative;
    width: 95%;
    height: 60px;
    text-align: left;
    margin: 10px auto;
}
.user-groups .user-groups-table .group, .user-groups .user-groups-table .group-input {
    display: flex;
    position: relative;
    width: 95%;
    height: 60px;
    text-align: left;
    margin: 10px auto;
}
.pages-table .page, .pages-table .page-input, .profiles-table .profile, .profiles-table .profile-input, .templates-table .template, .templates-table .template-input {
    display: flex;
    position: relative;
    width: 100%;
    height: 100px;
    text-align: left;
    margin: 10px auto;
    border-right: 1px solid rgba(0,0,0,.1);
}
.user-groups-table .user .user-icon {
    line-height: 70px;
    vertical-align: middle;
    font-size: 50px;
    width: fit-content;
}
.user-groups-table .group .group-icon, .user-groups-table .group-input .group-icon {
    line-height: 70px;
    vertical-align: middle;
    font-size: 50px;
    width: fit-content;
}
.user-groups-table .group .group-icon.i1, .user-groups-table .group-input .group-icon.i1 {
    position: absolute;
}
.user-groups-table .group .group-icon.i2, .user-groups-table .group-input .group-icon.i2 {
    position: absolute;
    left: 22px;
    z-index: 1;
}
.user-groups-table .group .group-icon.i3, .user-groups-table .group-input .group-icon.i3 {
    position: absolute;
    left: 47px;
    z-index: 2;
}
.user-groups-table .user-input .user-icon {
    line-height: 70px;
    vertical-align: middle;
    font-size: 50px;
    width: fit-content;
}
.user-groups-table .user .user-personal {
    position: relative;
    overflow: hidden;
    line-height: 60px;
    font-size: 18px;
    margin-left: 10px;
    width: 32%;
}
.user-groups-table .user-input .user-personal {
    position: relative;
    font-size: 18px;
    margin-left: 10px;
    width: 32%;
    margin-top: -10px;
}
.profiles-table .profile-input .profile-details {
    position: absolute;
    width: 30%;
    top: 5%;
    left: 5%;
}
.templates-table .template-input .template-details {
    position: absolute;
    width: 35%;
    top: 5%;
    left: 5%;
}
.profiles-table .profile-input .profile-details .name, .profiles-table .profile-input .profile-details .from, .templates-table .template-input .template-details .name, .templates-table .template-input .template-details .subject {
    margin: 5px;
}
.user-groups-table .user .user-personal .name {
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    font-size: 17px;
    line-height: normal;
    top: 20%;
}
.user-groups-table .user-input .user-personal .name {
    margin-bottom: 4px;
    margin-top: 4px;
    height: 35px;
}
.user-groups-table .user-input .user-personal .email {
    margin-top: 4px;
    margin-bottom: 4px;
    height: 35px;
}
.user-groups-table .user .user-personal .email {
    position: absolute;
    white-space: nowrap;
    line-height: normal;
    font-size: 15px;
    top: 55%;
}
.user-groups-table .user .user-position {
    position: absolute;
    right: 22%;
    line-height: 60px;
    vertical-align: middle;
    margin-left: 5px;
    width: 25%;
    bottom: 0;
    overflow: hidden;
}
.profiles-table .profile .profile-interface {
    position: absolute;
    line-height: normal;
    left: 45%;
    top: 35%;
    width: 10%;
    overflow: hidden;
}
.profiles-table .profile-input .profile-interface {
    position: absolute;
    left: 40%;
    top: 25%;
    width: 15%;
}
.completed-campaigns-table .completed-campaign .campaign-created-on, .running-campaigns-table .running-campaign .campaign-created-on, .scheduled-campaigns-table .scheduled-campaign .campaign-created-on {
    position: absolute;
    vertical-align: middle;
    left: 40%;
    top: 25%;
    width: 20%;
    overflow: hidden;
}
.profiles-table .profile .profile-created-on {
    position: absolute;
    vertical-align: middle;
    right: 20%;
    top: 25%;
    width: 20%;
    overflow: hidden;
}
.templates-table .template .template-created-on {
    position: absolute;
    vertical-align: middle;
    right: 30%;
    top: 25%;
    width: 25%;
    overflow: hidden;
}
.user-groups-table .group .group-user-count {
    position: absolute;
    left: 14%;
    top: 35%;
    vertical-align: middle;
    margin-left: 5px;
    width: 15%;
    bottom: 0;
    overflow: hidden;
    z-index: 3;
}
.user-groups-table .group .group-user-count .user-count {
    background-color: gray;
    border-radius: 2px;
    padding: 1px 4px;
    color: #fff;
    line-height: normal;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;
    width: fit-content;
}
.user-groups-table .group .group-name {
    position: absolute;
    left: 35%;
    top: 30%;
    vertical-align: middle;
    margin-left: 5px;
    width: 25%;
    bottom: 0;
    overflow: hidden;
}
.pages-table .page .page-name {
    position: absolute;
    left: 5%;
    top: 20%;
    vertical-align: middle;
    width: 40%;
    text-align: center;
    overflow: hidden;
}
.completed-campaigns-table .completed-campaign .campaign-name, .running-campaigns-table .running-campaign .campaign-name, .scheduled-campaigns-table .scheduled-campaign .campaign-name {
    position: absolute;
    left: 5%;
    top: 30%;
    vertical-align: middle;
    width: 30%;
    overflow: hidden;
}
.profiles-table .profile .profile-main {
    position: absolute;
    left: 5%;
    top: 20%;
    vertical-align: middle;
    width: 35%;
    overflow: hidden;
}
.templates-table .template .template-main {
    position: absolute;
    left: 5%;
    top: 20%;
    vertical-align: middle;
    width: 30%;
    overflow: hidden;
}
.pages-table .page-input .page-name {
    position: absolute;
    left: 5%;
    top: 10%;
    vertical-align: middle;
    width: 55%;
    text-align: center;
    overflow: hidden;
}
.user-groups-table .group .group-name .name, .pages-table .page .page-name .name, .completed-campaigns-table .completed-campaign .campaign-name .name, .running-campaigns-table .running-campaign .campaign-name .name, .scheduled-campaigns-table .scheduled-campaign .campaign-name .name {
    line-height: normal;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
}
.profiles-table .profile .profile-main .name, .templates-table .template .template-main .name {
    margin: 0;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
}
.profiles-table .profile .profile-main .from, .templates-table .template .template-main .subject {
    margin: 0;
    font-style: italic;
    white-space: nowrap;
}
.user-groups-table .group-input .group-name {
    position: absolute;
    left: 25%;
    top: 15%;
    width: 30%;
}
.user-groups-table .group .group-participants, .user-groups-table .group-input .group-participants {
    position: absolute;
    right: 19%;
    top: 35%;
    vertical-align: middle;
    margin-left: 5px;
    width: 15%;
    bottom: 0;
    overflow: hidden;
}
.user-groups-table .group .group-participants .participants, .user-groups-table .group-input .group-participants .participants {
    font-size: 15px;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
    width: fit-content;
}
.pages-table .page-input .content-status {
    position: absolute;
    width: 20%;
    top: 15%;
    right: 10%;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}
.templates-table .template-input .content-status {
    position: absolute;
    width: 20%;
    top: 35%;
    right: 30%;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}
.completed-campaigns-table .completed-campaign .campaign-status {
    position: absolute;
    top: 40%;
    right: 28%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: green;
}
.running-campaigns-table .running-campaign .campaign-status {
    position: absolute;
    top: 40%;
    right: 28%;
    width: 15px;
    height: 15px;
}
.scheduled-campaigns-table .scheduled-campaign .campaign-status {
    position: absolute;
    top: 35%;
    right: 28%;
    width: fit-content;
}
.scheduled-campaigns-table .scheduled-campaign .campaign-status ion-icon {
    font-size: 20px;
    color: grey;
}
.pages-table .page-input .content-status .saved, .templates-table .template-input .content-status .saved {
    line-height: normal;
    font-size: 17px;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
}
.user-groups-table .group .group-participants .btn {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    color: #0C5DF4;
    border: 1px solid #0C5DF4;
    font-size: 12px;
    padding: 5px;
    height: fit-content;
    width: 80%;
    transition: 0.5s;
}
.user-groups-table .group-input .btn.btn-primary {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    right: 20%;
    top: 15%;
    padding: 6px 5px;
    width: fit-content;
}
.pages-table .page-input .btn.btn-primary {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    right: 5%;
    top: 10%;
    padding: 6px 5px;
    width: fit-content;
}
.profiles-table .profile-input .btn.btn-primary {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    right: 20%;
    top: 25%;
    padding: 6px 5px;
    width: fit-content;
}
.templates-table .template-input .btn.btn-primary {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    right: 25%;
    top: 25%;
    padding: 6px 5px;
    width: fit-content;
}
.user-groups-table .group .group-edit-btn {
    top: 5%;
    font-size: 20px;
    position: absolute;
    right: 10%;
    line-height: 60px;
    vertical-align: middle;
    bottom: 0;
}
.user-groups-table .group .group-delete-btn {
    top: 5%;
    font-size: 20px;
    position: absolute;
    right: 2%;
    line-height: 60px;
    vertical-align: middle;
    bottom: 0;
}
.user-groups-table .user-input .user-position {
    position: absolute;
    right: 22%;
    line-height: 60px;
    vertical-align: middle;
    margin-left: 5px;
    width: 25%;
    bottom: 0;
}
.user-groups-table .user .user-position .position {
    line-height: normal;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
}
.profiles-table .profile .profile-interface .interface, .profiles-table .profile .profile-created-on .created-date, .profiles-table .profile .profile-created-on .created-time, .templates-table .template .template-created-on .created-date, .templates-table .template .template-created-on .created-time, .completed-campaigns-table .completed-campaign .campaign-created-on .created-date, .completed-campaigns-table .completed-campaign .campaign-created-on .created-time, .running-campaigns-table .running-campaign .campaign-created-on .created-date, .running-campaigns-table .running-campaign .campaign-created-on .created-time, .scheduled-campaigns-table .scheduled-campaign .campaign-created-on .created-date, .scheduled-campaigns-table .scheduled-campaign .campaign-created-on .created-time {
    margin: 0;
    line-height: normal;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
}
.pages-table .page .page-preview {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 130px;
    height: 80px;
    vertical-align: middle;
}
.pages-table .page .page-preview .preview {
    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: 20px;
    -webkit-transform:scale(0.5);
    -moz-transform-scale: (0.5);
    -moz-transform-origin: top left; 
    -webkit-transform-origin: top left; 
    -o-transform-origin: top left; 
    -ms-transform-origin: top left; 
    transform-origin: top left;
}
.user-groups-table .user .user-edit-btn {
    top: 5%;
    font-size: 20px;
    position: absolute;
    right: 10%;
    line-height: 60px;
    vertical-align: middle;
    bottom: 0;
}
.completed-campaigns-table .completed-campaign .campaign-details-btn, .running-campaigns-table .running-campaign .campaign-details-btn, .scheduled-campaigns-table .scheduled-campaign .campaign-details-btn {
    top: 5%;
    font-size: 20px;
    position: absolute;
    right: 15%;
    line-height: 60px;
    vertical-align: middle;
    bottom: 0;
}
.user-groups-table .user .user-delete-btn {
    top: 5%;
    font-size: 20px;
    position: absolute;
    right: 2%;
    line-height: 60px;
    vertical-align: middle;
    bottom: 0;
}
.completed-campaigns-table .completed-campaign .campaign-delete-btn, .running-campaigns-table .running-campaign .campaign-complete-btn, .scheduled-campaigns-table .scheduled-campaign .campaign-runnow-btn {
    top: 5%;
    font-size: 20px;
    position: absolute;
    right: 5%;
    line-height: 60px;
    vertical-align: middle;
    bottom: 0;
}
.pages-table .page .page-preview-btn {
    position: absolute;
    bottom: 15%;
    font-size: 20px;
    left: 10%;
    vertical-align: middle;
}
.pages-table .page .page-edit-btn {
    position: absolute;
    bottom: 15%;
    font-size: 20px;
    left: 22%;
    vertical-align: middle;
}
.pages-table .page .page-delete-btn {
    position: absolute;
    bottom: 15%;
    font-size: 20px;
    left: 34%;
    vertical-align: middle;
}
.profiles-table .profile .profile-edit-btn {
    position: absolute;
    top: 30%;
    font-size: 20px;
    right: 10%;
    vertical-align: middle;
}
.profiles-table .profile .profile-delete-btn {
    position: absolute;
    top: 30%;
    font-size: 20px;
    right: 2%;
    vertical-align: middle;
}
.templates-table .template .template-edit-btn {
    position: absolute;
    top: 30%;
    font-size: 20px;
    right: 15%;
    vertical-align: middle;
}
.templates-table .template .template-delete-btn {
    position: absolute;
    top: 30%;
    font-size: 20px;
    right: 5%;
    vertical-align: middle;
}
.user-groups-table .user-input .user-cancel-btn, .user-groups-table .group-input .group-cancel-btn {
    top: 5%;
    font-size: 25px;
    position: absolute;
    right: 2%;
    line-height: 60px;
    vertical-align: middle;
    bottom: 0;
}
.pages-table .page-input .page-cancel-btn {
    bottom: 5%;
    font-size: 15px;
    width: fit-content;
    position: absolute;
    left: 35%;
    vertical-align: middle;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    border: 1px solid #0C5DF4;
}
.user-groups-table .user-input .user-confirm-btn, .user-groups-table .group-input .group-confirm-btn {
    top: 5%;
    font-size: 25px;
    position: absolute;
    right: 10%;
    line-height: 60px;
    vertical-align: middle;
    bottom: 0;
}
.pages-table .page-input .page-confirm-btn {
    bottom: 5%;
    font-size: 15px;
    width: fit-content;
    position: absolute;
    left: 5%;
    vertical-align: middle;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    border: 1px solid #0C5DF4;
}
.profiles-table .profile-input .profile-confirm-btn {
    position: absolute;
    top: 30%;
    right: 10%;
    font-size: 25px;
}
.templates-table .template-input .template-confirm-btn {
    position: absolute;
    top: 30%;
    right: 12%;
    font-size: 25px;
}
.profiles-table .profile-input .profile-cancel-btn {
    position: absolute;
    top: 30%;
    right: 2%;
    font-size: 25px;
}
.templates-table .template-input .template-cancel-btn {
    position: absolute;
    top: 30%;
    right: 2%;
    font-size: 25px;
}
.pages-table .page-input .page-confirm-btn .options ion-icon {
    font-size: 15px;
}
.user-groups-table .user-input .user-cancel-btn .options, .user-groups-table .group-input .group-cancel-btn .options, .profiles-table .profile-input .profile-cancel-btn .options, .templates-table .template-input .template-cancel-btn .options {
    color: red;
}
.user-groups-table .user-input .user-confirm-btn .options, .user-groups-table .group-input .group-confirm-btn .options, .profiles-table .profile-input .profile-confirm-btn .options, .templates-table .template-input .template-confirm-btn .options {
    color: green;
}
.pages-table .page-input .page-confirm-btn .options, .pages-table .page-input .page-cancel-btn .options {
    text-decoration: none;
}
.options {
    cursor: pointer;
}
.modal-content {
    height: 550px;
}
.modal-body .modal-search {
    display: flex;
    height: 10%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
}
.modal-body .modal-search input[type="text"] {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Roboto', sans-serif;
    color: grey;
}
.modal-body .modal-search input[type="text"]:focus {
    outline-color: grey;
}
.modal-body .chips-container {
    margin-top: 20px;
    overflow-x: auto;
    white-space: nowrap;
    height: 50px;
}
.modal-body .chips-container .chip {
    display: inline-block;
    padding: 0 25px;
    height: 30px;
    font-size: 14px;
    line-height: 28px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 25px;
    border: 0.5px solid;
    background-color: #f1f1f1;
}
.modal-body .chips-container .chip .closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 15px;
    cursor: pointer;
}
.modal-body .chips-container .chip .closebtn:hover {
    color: #000;
}
.modal-body .modal-page-content-input, .modal-body .modal-template-content-input {
    width: 100%;
    height: 100%;
    padding: 5px;
    resize: none;
}
.modal-body .profile-host, .modal-body .profile-username, .modal-body .profile-password {
    margin-bottom: 20px;
}
.modal-body .campaign-name, .modal-body .campaign-et, .modal-body .campaign-lp, .modal-body .campaign-sp {
    margin-bottom: 10px;
}
.modal-body .campaign-grp {
    margin-bottom: 0;
}
.modal-body .profile-test-email {
    position: absolute;
    bottom: 10px;
}
.modal-footer .btn.btn-secondary.campaign-schedule, .modal-footer .btn.btn-primary.campaign-run, .modal-footer .btn.btn-secondary.campaign-close {
    margin-top: 0;
}
.modal-footer .btn.btn-secondary.campaign-schedule {
    position: absolute;
    left: 15px;
}
.modal-footer .btn.btn-secondary.campaign-schedule ion-icon, .modal-footer .btn.btn-primary.campaign-run ion-icon {
    font-size: 15px;
}
.graphical-details {
    position: relative;
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 0 6px 8px rgba(0, 0, 0, 0.07);
    margin: 20px 0;
}
.graphical-details .campaign-header {
    left: 15px;
    top: 15px;
}
.graphical-details .campaign-stats {
    margin-top: 5px;
}
.graphical-details .campaign-stats .progress {
    margin: 10px 15px;
    height: 30%;
}
.graphical-details .campaign-header .title {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid;
}
.graphical-details .campaign-header .status {
    margin-left: 10px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: green;
}
.graphical-details .campaign-stats .progress-bar-header ion-icon {
    position: relative;
    top: 5px;
    font-size: 20px;
}
.graphical-details .campaign-stats .progress-bar-header b {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}


#user-table hr {
    margin-left: 80px;
    transition: 0.5s;
    width: 82%;
}
#user-form-new hr {
    margin-left: 0;
    width: 100%;
    transition: 0.5s;
}
#group-table hr {
    margin-left: 170px;
    transition: 0.5s;
    width: 70%;
}
#group-form-new hr {
    margin-left: 0;
    width: 100%;
    transition: 0.5s;
}
#completed-campaigns-table hr, #running-campaigns-table hr, #scheduled-campaigns-table hr {
    margin: auto;
    width: 90%;
    transition: 0.5s;
}
#main .navigation:hover ~ .container-fluid.content {
    margin-left: 270px;
    width: 80%;
}
#main .header-container {
    height: 60px;
    margin-left: 60px;
    display: grid;
    background-color: #e9ecef;
    align-items: center;
    transition: 0.5s;
}
#main .header-container .display-4.header {
    padding-left: 20px;
    font-size: 40px;
}
#main .navigation:hover ~ .header-container {
    margin-left: 270px;
}
#main .header-container .btn-group.user {
    position: absolute;
    right: 30px;
    top: 12px;
    font-size: 25px;
}
#main .header-container .btn-group.user .display-4 {
    font-size: 25px;
    margin-right: 5px;
}
#main .header-container .btn-group.user .btn {
    box-shadow: none;
    height: 25px;
}
#main .header-container .btn-group.user .btn:hover {
    box-shadow: none;
    height: 25px;
}
#main .header-container .btn-group.user .dropdown-menu.show {
    margin-top: 10px;
    min-width: 100%;
    width: 25px;
    text-align: center;
}
#main .header-container .btn-group.user .dropdown-menu.show .dropdown-item {
    padding: 0;
    height: 25px;
    font-family: 'Roboto', sans-serif;
}
#main .header-container .btn-group.user .dropdown-menu.show .dropdown-item:hover {
    background-color: #0C5DF4;
    color: #fff;
}
#choose-users .modal-title {
    font-family: 'Poppins', sans-serif;
}
#choose-users .content-container {
    margin-left: 15px;
    margin-right: 15px;
    overflow: auto;
    height: 70%;
}
#choose-users .content-container input[type="checkbox"] + label {
    display: block;
    margin: 0.2em;
}
#choose-users .content-container input[type="checkbox"] {
    display: none;
}
#choose-users .content-container label {
    font-family: 'Roboto', sans-serif;
    padding: 0.5em;
}
#choose-users .content-container input[type="checkbox"] + label:before {
    content: "\2713";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    margin-right: 0.5em;
    vertical-align: top;
    color: transparent;
    transition: 0.2s;
    text-align: center;
}
#choose-users .content-container input[type="checkbox"]:checked + label:before {
    background-color: #0C5DF4;
    border-color: #0C5DF4;
    color: #fff;
}