{% extends 'base.html' %}
{% block content %}

    <div class="container-fluid content">
        {% for d in data %}
            <div class="row graphical-details">
                <div class="col-12 campaign-header">
                    <b class="title">{{ d.0 }}: Statistics</b>
                    <i class="status">({{ d.1 }})</i>
                </div>
                <div class="col-3 text-center campaign-stats total-users">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuemin="0" aria-valuemax="100">{{ d.2 }}</div>
                    </div>
                    <div class="progress-bar-header">
                        <span><ion-icon name="people-outline"></ion-icon> <b>Total Users</b></span>
                    </div>
                </div>
                <div class="col-3 text-center campaign-stats total-email-opened">
                    <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{ d.3 }}%" aria-valuemin="0" aria-valuemax="100">{{ d.3 }}%</div>
                    </div>
                    <div class="progress-bar-header">
                        <span><ion-icon name="mail-outline"></ion-icon> <b>Total Emails Opened</b></span>
                    </div>
                </div>
                <div class="col-3 text-center campaign-stats total-links-opened">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ d.4 }}%" aria-valuemin="0" aria-valuemax="100">{{ d.4 }}%</div>
                    </div>
                    <div class="progress-bar-header">
                        <span><ion-icon name="link-outline"></ion-icon> <b>Total Links Opened</b></span>
                    </div>
                </div>
                <div class="col-3 text-center campaign-stats total-creds-captured">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ d.5 }}%" aria-valuemin="0" aria-valuemax="100">{{ d.5 }}%</div>
                    </div>
                    <div class="progress-bar-header">
                        <span><ion-icon name="key-outline"></ion-icon> <b>Total Credentials Captured</b></span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}