{% extends 'base.html' %}
{% block content %}
    <h1>Sending Profile</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <label for="name">Name: <input type="text" name="name"/></label>
            </div>
            <div class="col-12">
                <label for="from">From: <input type="text" name="from"/></label>
            </div>
            <div class="col-12">
                <label for="host">Host: <input type="text" name="host"/></label>
            </div>
            <div class="col-12">
                <label for="username">Username: <input type="text" name="username"/></label>
            </div>
            <div class="col-12">
                <label for="password">Password: <input type="password" name="password"/></label>
            </div>
        </div>
    </div>
{% endblock %}